<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>
<body>
    
    <form class="position-relative" action="{% url 'homeview' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="url-search">
            {{ form.urlField }}
            <span class="icon py-2 pl-2 position-absolute"><i class="fas fa-search"></i></span>
        </div>

        <div class="img-search d-flex align-items-center position-absolute h-100">
            <span class="seperator"></span>
            <div class="icon h-100"></div>
            {{ form.upload_field }}
        </div>
    </form>

</body>
</html>